# Основные настройки API
API=/api
DOCS=/docs
STARTUP=startup
SHUTDOWN=shutdown
#
APP_HOST=0.0.0.0
APP_PORT_INTERNAL=8010
APP_WORKERS=5
APP_LOG_LEVEL=INFO
BACKEND_PORT=8000
BACKEND_PORT_INTERNAL=8000
BACKEND_PATH=/Users/kirill.khorkov/PycharmProjects/Bot
# Информация о приложении
NAME=FastDocs backend
VERSION=0.1.0
DESCRIPTION=FastDocs backend

# Настройки базы данных
DB_HOST=0.0.0.0
DB_PORT=5432
DB_PORT_INTERNAL=5432
DB_USER=superuser
DB_PASSWORD=strong_password
DB_NAME=database

# Настройки Minio
MINIO_HOST=0.0.0.0
MINIO_PORT=9000
MINIO_PORT_INTERNAL=9000
MINIO_WEBUI_PORT=9001
MINIO_WEBUI_INTERNAL_PORT=9001

MINIO_ADMIN=minioadmin

MINIO_ACCESS_KEY=ikPAZ78oBApJV6t14Xzk
MINIO_SECRET_KEY=Uq1ib0yDU9L6eu83Eywh3xqyODnhb0SbE3102itW

# Настройки OpenAI
OPENAI_TOKEN=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

# Настройки ETCD
ETCD_ADVERTISE_CLIENT_HOST=127.0.0.1
ETCD_ADVERTISE_CLIENT_PORT=2379
ETCD_LISTEN_CLIENT_HOST=0.0.0.0
ETCD_LISTEN_CLIENT_PORT=2379

# Настройки Milvus
MILVUS_API_PORT=9091
MILVUS_API_INTERNAL_PORT=9091
MILVUS_GRPC_PORT=19530
MILVUS_GRPC_INTERNAL_PORT=19530

#Настройки Redis
REDIS_HOST=0.0.0.0
REDIS_PORT=6379
REDIS_PORT_INTERNAL=6379
REDIS_NAME=0

# Настройки сети docker
BACKEND_DOCKER_IP=192.168.0.10
WORKER_DOCKER_IP=192.168.0.9
MILVUS_DOCKER_IP=192.168.0.8
DB_DOCKER_IP=192.168.0.7
REDIS_DOCKER_IP=192.168.0.6
MINIO_DOCKER_IP=192.168.0.5
CELERY_DOCKER_IP=192.168.0.4
DASHBOARD_DOCKER_IP=192.168.0.3
ETCD_DOCKER_IP=192.168.0.2


# Настройки dashboard
DASHBOARD_PORT=5555
DASHBOARD_PORT_INTERNAL=5556


# ...
CELERY_RESULT_BACKEND=
CELERY_BROKER_URL=
DASHBOARD_BROKER_URI=redis://192.168.0.6:6379/0

